<div th:fragment="modal_01" id="modal_01">
    <div id="modal_01_body" style="height: 700px;">
        <div class="sortbox mb15">
            <label for="m_name" id="text">거래처명</label>
            <sbux-input id="m_name" name="m_name" uitype="text" style="width:300px;" minlength="0" maxlength="15"
               onchange="viewX.modal_01Info(m_name)"></sbux-input>
        </div>
        <div id="SBGridArea_02" style="height: 640px; width: 100%;"></div>
    </div>
    <!-- <div id="modal_01_footer">
    </div> -->
</div>