<script>
    var viewX = {
        grid_01: {}, grid_02: {},
        gridData_01: {}, gridData_02: {},
        columnNames: ['ecode_size', 'ecode_unit'],
        columnInputs: [],
        selectedRow: '',

        taxJson: [],
        deptJson: [],
        costJson: [],
        gongJson: [],
        govJson: [],

        gongsaJson: [],
        bonsaJson: [],
        taxpayJson: [],

        code: '',
        dued: '',

        getGridVariables: (tabName) => {
            var index = tabName ? tabName.split('_')[1] : '01';
            var dataVar = 'gridData_' + index;
            var datagridVar = 'grid_' + index;
            return {
                dataVar: dataVar,
                datagridVar: datagridVar
            };
        },
        saveGridData: (gridName) => {
            console.log(gridName + "저장~~~~~~~~~~~~~~~~~~~~~~~~");
            var variables = viewX.getGridVariables(gridName);
            var url = '/api/AAXA230SD/' + gridName + '/gridData';
            console.log(variables.datagridVar)
            console.log(variables.dataVar)
            var sendData = viewX[variables.datagridVar].getUpdateData(false, 'all');
            var addData = {
                AUNTT_KB: '01',   // 추후 로그인 session 추가 후 수정할 것
                BUSEO_CD: viewX.gridData_01[viewX.selectedRow].BUSEO_CD
            };
            sendData = korbiztech.parse.addPropertiesToData(sendData, addData);
            console.log(sendData);
            var checkData = JSON.parse(sendData);
            var performSave = async function () {
                try {
                    const response = await exios.put(url, sendData);
                    korbiztech.alert('MSG_GRID_SAVE_SUCCESS');
                    viewX[variables.datagridVar].clearStatus();
                    viewX.loadGridData(tabName, false);
                } catch (e) {
                    korbiztech.alert('MSG_GRID_SAVE_FAIL');
                    console.error(e);
                }
            };

            if (checkData.length > 0) {
                var primarykey = viewX[variables.datagridVar].primarykey;
                if (primarykey.length === 1) {
                    if (!korbiztech.gridAction.checkSingleKey(checkData, variables.dataVar, variables.datagridVar, primarykey[0])) return;
                } else if (primarykey.length > 1) {
                    if (!korbiztech.gridAction.checkCompositeKey(checkData, variables.dataVar, variables.datagridVar, primarykey)) return;
                } else {
                    korbiztech.alert('MSG_GRID_PK_NOT_DEFINED');
                    return;
                }
                performSave();
            } else {
                korbiztech.alert('MSG_GRID_NO_CHANGES');
            }
        },

        selectList: () => {
            dued = $("#DUED_DENY").val();
            code = $("#code").val();
            var searchCondition = {
                code: code,
                dued: dued,
                AUNTT_KB: '01'
            };
            console.log(searchCondition);
            viewX.grid_01.lockGrid(true);
            exios.get('/api/AAXA230SD/selectList', searchCondition).then((response) => {
                viewX.gridData_01 = response.data;
            }).then(() => {
                viewX.grid_01.setGridData(viewX.gridData_01, false);
                viewX.grid_01.clearStatus();
                viewX.grid_01.refresh({ 'focus': false });
                viewX.grid_01.lockGrid(false);
            }).catch((e) => {
                console.error(e.responseText);
            });
        },

        loadGridData: (gridId, showAlert) => {
            console.log(gridId);
            viewX.selectList();
        },

        getSelectedRows: () => {
            viewX.selectedRow = parseInt(viewX.grid_01.getSelectedRows()) - 1;
            var sel_data = viewX.gridData_01[viewX.selectedRow];
            exios.get('/api/AAXA010SI/deptList', { code: sel_data.BUSEO_CD }).then((response) => {
                viewX.gridData_04 = response.data;
            }).then(() => {
                viewX.grid_01.setGridData(viewX.gridData_01, false);
                viewX.grid_01.refresh({ 'focus': false });
            });
        },

    };

    $(() => {
        var GRID_PROPERTIES = {
            tab_01: {
                parentid: 'SBGridArea',
                id: 'viewX.grid_01',
                jsonref: 'viewX.gridData_01',
                backcoloralternate: '#F8F8F8',
                rowheader: ['seq'],
                selectmode: 'row',
                entertotab: false,
                fixedrowheight: '30',
                mergecellsfixedrows: 'bycolrec',
                columns: [
                    { caption: ['구분코드'], ref: 'BUSEO_CD', width: '40%', style: 'text-align:center', type: 'output' },
                    { caption: ['구분명'], ref: 'BUSEO_NM', width: '60%', style: 'text-align:center', type: 'input' },
                    { caption: ['승인구분'], ref: 'GIPYO_KB', type: 'input', hidden: true },
                    { caption: ['부서LEVEL'], ref: 'BUSEO_LV', type: 'input', hidden: true },
                    { caption: ['부서약어'], ref: 'BUSEO_YA', type: 'input', hidden: true },
                    { caption: ['부가세신고단위코드'], ref: 'TXSAE_NO', type: 'input', hidden: true },
                    { caption: ['부가세신고단위'], ref: 'TXSAE_NM', type: 'input', hidden: true },
                    { caption: ['법인구분'], ref: 'AUNTT_KB', type: 'input', hidden: true },
                    { caption: ['본사구분'], ref: 'DBANK_NM', type: 'input', hidden: true },
                    { caption: ['최초사용부서코드'], ref: 'WONSI_CD', type: 'input', hidden: true },
                    { caption: ['최초사용부서'], ref: 'WONSI_NM', type: 'input', hidden: true },
                    { caption: ['출납통제부서코드'], ref: 'CHOOL_CD', type: 'input', hidden: true },
                    { caption: ['출납통제부서'], ref: 'CHOOL_NM', type: 'input', hidden: true },
                    { caption: ['COST CODE'], ref: 'COSTT_CD', type: 'input', hidden: true },
                    { caption: ['COST CODE명'], ref: 'COSTT_NM', type: 'input', hidden: true },
                    { caption: ['COST CODE체크여부'], ref: 'COSTT_YN', type: 'input', hidden: true },
                    { caption: ['부가세 구분'], ref: 'VATTT_KB', type: 'input', hidden: true },
                    { caption: ['분양관리여부'], ref: 'HOUSE_KB', type: 'input', hidden: true },
                    { caption: ['전도금 예외여부'], ref: 'JUNDO_KB', type: 'input', hidden: true },
                    { caption: ['감가상각공종코드'], ref: 'GONGG_CD', type: 'input', hidden: true },
                    { caption: ['감가상각공종명'], ref: 'GONGG_NM', type: 'input', hidden: true },
                    { caption: ['계약일'], ref: 'CONTR_DT', type: 'input', hidden: true },
                    { caption: ['등록일'], ref: 'SAYNG_ST', type: 'input', hidden: true },
                    { caption: ['수정일'], ref: 'SDATE_DT', type: 'input', hidden: true },
                    { caption: ['사용종료일'], ref: 'SAYNG_ED', type: 'input', hidden: true },
                    { caption: ['현장종료일'], ref: 'SAYN3_ED', type: 'input', hidden: true },
                    { caption: ['현장준공일'], ref: 'SAYN2_ED', type: 'input', hidden: true },
                    { caption: ['예산통제여부'], ref: 'PLNCT_KB', type: 'input', hidden: true },
                    { caption: ['예산통제부서코드'], ref: 'PLNCT_CD', type: 'input', hidden: true },
                    { caption: ['예산통제부서명'], ref: 'PLNCT_NM', type: 'input', hidden: true },
                    { caption: ['주소'], ref: 'ADDRE_NY', type: 'input', hidden: true },
                    { caption: ['관할관청코드'], ref: 'KWANH_CD', type: 'input', hidden: true },
                    { caption: ['관할관청명'], ref: 'KWANH_NM', type: 'input', hidden: true },
                ],
                primarykey: ['CARDD_NO'],
                custompanel: ['refresh'],
            },

            tab_02: {
                //현장사업소 현황
                parentid: 'SBGridArea_02',
                id: 'viewX.grid_02',
                jsonref: 'viewX.gridData_02',
                backcoloralternate: '#F8F8F8',
                rowheader: ['seq'],
                selectmode: 'row',
                entertotab: false,
                fixedrowheight: '30',
                mergecellsfixedrows: 'bycolrec',
                columns: [
                    { caption: ['출력명칭'], ref: 'DTL5_GBN', width: '10%', style: 'text-align:center', type: 'output' },
                    { caption: ['계정코드'], ref: 'DTL5_ACCGBN', width: '20%', style: 'text-align:center', type: 'input' },
                    { caption: ['계정명'], ref: 'DTL5_NAME', width: '20%', style: 'text-align:center', type: 'input' },
                    { caption: ['산식'], ref: 'DTL5_SPEC', width: '5%', style: 'text-align:center', type: 'input' },
                    { caption: ['계정코드'], ref: 'DTL5_AREA', width: '20%', style: 'text-align:center', type: 'input' },
                    { caption: ['계정명'], ref: 'DTL5_AREA', width: '20%', style: 'text-align:center', type: 'input' },
                    { caption: ['산식'], ref: 'DTL5_AREA', width: '5%', style: 'text-align:center', type: 'input' },
                ],
                primarykey: ['CARDD_NO'],
                custompanel: ['refresh'],

            },

        };
        viewX.grid_01 = korbiztech.grid.createGrid(GRID_PROPERTIES.tab_01);
        viewX.grid_02 = korbiztech.grid.createGrid(GRID_PROPERTIES.tab_02);
        viewX.grid_01.bind('click', 'viewX.getSelectedRows');
    });
</script>
<style>
    div {
        padding: 0;
        margin: 0;
    }

    /*header*/
    .softbowl-tem-header {
        display: table;
        width: 100%;
        height: 5%;
        padding: 10px;
        background: #386ec7;
        box-sizing: border-box;
    }

    .softbowl-tem-header h3 {
        display: table-cell;
        color: #fff;
    }

    .softbowl-form {
        margin-left: 10px;
    }

    .softbowl-grid {
        margin-left: 20px;
    }

    #selectList {
        width: 60px;
        height: 30px;
        text-align: center;
        margin-left: 20px;
        font-size: 15px;
        font-weight: bold;
    }

    #selectList:hover {
        background-color: #C5DCF0;
    }

    #text {
        font-size: 15px;
        font-weight: bold;
        margin-left: 20px;
        margin-right: 30px;
    }

    #inner-text {
        font-size: 15px;
        font-weight: bold;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    #searchEcodeName {
        display: flex;
        align-items: center;
        /* 수직 정렬 */
    }
</style>

<body>
    <div class="menuPath-wrap">
        <div class="menuPath-title"></div>
    </div>
    <div class="softbowl-tem-contents">
        <div class="softbowl-form">
            <div id="searchEcodeName" style="display:flex;">
                <sbux-button id="selectList" name="btn_norm_2" uitype="normal" text="양식수정"
                    onclick="" style="width:80px;float:center;"></sbux-button>
                </br>
                </br>
            </div>
        </div>
        <hr>
        <div style="display:flex;">
            <div id="SBGridArea" style="width:40%;height:600px;margin:5px;float:center;">
                <span id="inner-text">출력양식명</span>
            </div>
            <div id="SBGridArea_02" style="height:600px; width:60%;margin:5px;float:center;">
                <span id="inner-text">출력양식</span>
            </div>
                </div>
</body>