<script>
    var viewX = {
        grid_01: {},
        gridData_01: {},
        gropJson: [
            { text : '0. 업체평가', value : '0' },
            { text : '1. 시공품질', value : '1' },
            { text : '2. 안전관리', value : '2' },
            { text : '3. 현장관리', value : '3' }
        ],
        subGropJson: [],
        saveGridData: function () {
            var dataVar = 'gridData_01';
            var datagridVar = 'grid_01';
            var url = '/api/ORG060/grid_01/gridData';

            var sendData = viewX[datagridVar].getUpdateData(false, 'all');
            var checkData = JSON.parse(sendData);

            var performSave = async function () {
                try {
                    const response = await exios.put(url, sendData);
                    korbiztech.alert('MSG_GRID_SAVE_SUCCESS');
                    viewX[datagridVar].clearStatus();
                    viewX.loadGridData('viewX.grid_02', false);
                } catch (error) {
                    korbiztech.alert('MSG_GRID_SAVE_FAIL');
                    console.error(error);                       
                }
            }

            if (checkData.length > 0) {
                var primarykey = viewX[datagridVar].primarykey;
                if (primarykey.length === 1) {
                    if (!korbiztech.gridAction.checkSingleKey(checkData, dataVar, datagridVar, primarykey[0])) return;
                } else if (primarykey.length > 1) {
                    if (!korbiztech.gridAction.checkCompositeKey(checkData, dataVar, datagridVar, primarykey)) return;
                } else {
                    korbiztech.alert('MSG_GRID_PK_NOT_DEFINED');
                    return;
                }
                performSave();
            } else {
                korbiztech.alert('MSG_GRID_NO_CHANGES');
            }
        },
        loadGridData: function (gridId, showAlert) {
            var dataVar = 'gridData_01';
            var datagridVar = 'grid_01';
            var url = '/api/ORG060/selectGrid';
            var params = {
                GUBUN: $('#select_grop').val(),
                SUB_GUBUN: $('#select_sub_grop').val()
            };

            exios.get(url, params).then((response) => {
                try {
                    viewX[dataVar] = response.data;
                    viewX[datagridVar].setGridData(viewX[dataVar], false);
                    viewX[datagridVar].refresh({'focus': false});
                    korbiztech.gridAction.disablePrimaryKeyCells(datagridVar);

                    SBUxMethod.refresh('label_addval');
                    SBUxMethod.set('label_addval', viewX.grid_01.getRowData(1).GRLP_ADDVAL);
                    return function () {
                        if (showAlert !== false) {
                            korbiztech.alert('MGS_GRID_GET_SUCCESS');
                        }
                    };
                } catch (error) {
                    korbiztech.alert('MGS_GRID_GET_FAIL');
                    console.error(error);        
                }
            });
        },
        selectSubGrop: function () {
            var params = { GUBUN: $('#select_grop').val() };
            exios.get('/api/ORG060/selectSubGrop', params).then((response) => {
                viewX.subGropJson = response.data;
                SBUxMethod.refresh('select_sub_grop');
                
                viewX.loadGridData();
            });
        },
    }

    $(function() {
        var GRID_PROPERTIES = {
            grid_01: {
                parentid: 'SBGridArea_01',
                id: 'viewX.grid_01',
                jsonref: 'viewX.gridData_01',
                rowheader: ['update', 'seq'],
                rowheaderwidth: {seq: '20'},
                height: '600px',
                explorerbar: 'sort',
                selectmode: 'byrow',
                primarykey: ['GRLP_CODE'],
                custompanel: ['toggleEditMode', 'exportExcel', 'refresh', 'add', 'delete', 'save'],
                total: {
                    type: 'grand',
                    position: 'top',
                    columns: {
                        standard: [0],
                        sum: [4],
                    },
                    grandtotalrow: {
                        titlecol: 2,
                        titlevalue: 'Total',
                        style: 'background-color: rgb(146, 178, 197); font-weight: bold; color: rgb(255, 255, 255);',
                    },
                },
                columns: [
                    { caption: ['코드'], ref: 'GRLP_CODE', width: '80px', style: 'text-align:center', type: 'input' },
                    { caption: ['평가내용'], ref: 'GRLP_NAME', width: '300px', style: 'text-align:left', type: 'input' },
                    { caption: ['점수'], ref: 'GRLP_ADDVAL', width: '60px', style: 'text-align:center', type: 'input',  format : '#.00' },
                    { caption: ['범례'], ref: 'GRLP_NOTE', width: '300px', style: 'text-align:left', type: 'input',  format : '#.00' },
                ]
            }
        }
        viewX.grid_01 = korbiztech.grid.createGrid(GRID_PROPERTIES.grid_01);
        viewX.selectSubGrop();
    })
</script>
<style>
    .search-container {
        margin: 10px;
    }

    .grid-container {
        margin: 10px;
    }

    /* temp style code  */
    #select_grop, #select_sub_grop {
        margin-right: 40px;
    }
</style>
<html>
<div class="menuPath-wrap">
    <h3>평가내용코드</h3>
    <div class="menuPath-title"></div>
</div>
<div class="softbowl-form sortbox">
    평가구분
    <sbux-select id="select_grop" name="select_grop_01" uitype="single"
        jsondata-ref="viewX.gropJson"
        onchange="viewX.selectSubGrop()">
    </sbux-select>
    평가항목
    <sbux-select id="select_sub_grop" name="select_sub_grop" uitype="single"
        jsondata-ref="viewX.subGropJson" jsondata-text="GROP_NAME" jsondata-value="GROP_GCODE"
        onchange="viewX.loadGridData()">
    </sbux-select>
    평가항목 총 점수 :
    <sbux-label id="label_addval" name="label_addval" uitype="normal" text=""></sbux-label>
    점
</div>
<div class="grid-container">
    <div id="SBGridArea_01"></div>
</div>
</html>