<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="head">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="robots" content="index,follow" />
<meta name="description" content="" />
<title>COC'S/ERP</title>
<script src="/assets/jquery-3.5.1.min.js"></script>
<script src="/js/Korbiztech.exios.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script>
	var SBUxConfig = {};
	SBUxConfig.Path = '/assets/sbux';
	SBUxConfig.SBGrid = { Version2_5: true, Theme: 'default' };
	SBUxConfig.SBChart = { Version2_0: true };
</script>
<script src="/assets/sbux/SBUx.js"></script>
<script src="/js/ViewX.js?v=1.0.0"></script>
<script src="/js/Router.js?v=1.0.0"></script>
<script src="/js/SBUx-render.js?v=1.0.0"></script>
<script src="/js/Korbiztech.js?v=1.0.0"></script>
<script src="/js/Menu.js?v=1.0.0"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js" async></script>
<script src="https://kit.fontawesome.com/cd352bcce8.js" crossorigin="anonymous"></script> <!-- font-awesome cdn -->
<link href="/css/style.css?v=1.0.0" rel="stylesheet">
<link href="/assets/sbux/assets/css/SBUxTemplate.css?v=1.0.0" rel="stylesheet">
<link href="/css/Korbiztech.css?v=1.0.0" rel="stylesheet">
<link href="/css/Layout.css?v=1.0.0" rel="stylesheet">
<link href="/assets/sbux/assets/js/sbgrid/2_5/SBGrid/css/SBGrid.css" rel="stylesheet">
<link href="/assets/sbux/assets/js/sbgrid/2_5/SBGrid/css/SBGrid_Default.css" rel="stylesheet">
</th:block>
</html>